<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Prototyping</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editdata">
                <span class="fas fa-table-cells" aria-hidden="true"></span> Edit data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="fas fa-list" aria-hidden="true"></span> Read data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editcolumn">
                <span class="fas fa-pencil" aria-hidden="true"></span> Edit Columns
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edittables">
                <span class="fas fa-pen-to-square" aria-hidden="true"></span> Edit Tables
            </NavLink>
        </div>
    </nav>
</div>

<style>
    .nav-link{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
