@page "/addcolumn"
@using System.ComponentModel.DataAnnotations
@using Interfaces
@using Models.Enums
@inject IEntityService EntityService

<h1>Add column</h1>
<div class="card flex gap">
    <EditForm OnValidSubmit="AddColumnFunc" Model="newColumn">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label>Name</label>
            <InputText @bind-Value="newColumn.ColumnName" class="form-control" placeholder="Column name"/>
            <ValidationMessage For="@(() => newColumn.ColumnName)"/>
        </div>
        <div class="form-group">
            <label>Type</label>
            <InputSelect @bind-Value="newColumn.ColumnValueType">
                @foreach (var item in Enum.GetValues(typeof(ValueTypes)))
                {
                    <option value="@item">@item.ToString()</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => newColumn.ColumnValueType)"/>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>

    </EditForm>
</div>

@code {

    class NewColumn
    {
        [Required]
        public string ColumnName { get; set; }

        public ValueTypes ColumnValueType { get; set; }
    }

    NewColumn newColumn = new NewColumn();

    private void AddColumnFunc()
    {
        EntityService.AddColumn(newColumn.ColumnName, newColumn.ColumnValueType);
    }

}